<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.devcrowd.app"
    android:versionCode="3"
    android:versionName="1.2.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:name=".acra.CrashReports"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".broadcasts.AlarmReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="AlarmReceiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ScheduleDetailsActivity"
            android:parentActivityName="pl.devcrowd.app.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.devcrowd.app.activities.MainActivity" />
        </activity>

        <service
            android:name=".services.ApiService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="pl.devcrowd.app.ACTION_GET_PRESENTATIONS" />
                <action android:name="pl.devcrowd.app.ACTION_GET_SPEAKERS" />
                <action android:name="pl.devcrowd.app.ACTION_RATE_PRESENTATION" />
            </intent-filter>
        </service>

        <provider
            android:name=".db.DevcrowdContentProvider"
            android:authorities="pl.devcrowd.app.db"
            android:exported="false" >
        </provider>
    </application>

</manifest>